@import '../../../assets/css/variables.scss';

.comment-box{
    .name{
        text-transform:capitalize;
        .avatar{
            width: 30px;
            border-radius: 50%;
            margin-right: .5rem;
        }
    }
    .content{
        font-size:.875rem
    }
    .email{
        font-style:italic;
        font-size:.75rem;
    }
}